.App{
  padding: 1em;
  margin-bottom: 15vh;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.song-item{
  display: flex;
}

.play-button{
  background-color: transparent;
  border: none;
  outline: none;
}

.player{
  height: 15vh;
  background-color: #222836;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.control-button{
  filter: brightness(0) invert(1);
  cursor: pointer;
}

